asgiref
certifi
charset-normalizer
coreapi
coreschema
Django
django-cors-headers
django-jazzmin
django-jazzmin-admin-rangefilter
django-logentry-admin
django-rest-swagger
django-simple-history
djangorestframework
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe
openapi-codec
packaging
pycups
pyfiglet
pyinstaller
pylint-django
psycopg2-binary
python-dotenv
pytz
PyYAML
requests
ruamel.yaml
ruamel.yaml.clib
setuptools
simplejson
sqlparse
typing_extensions
uritemplate
urllib3
whitenoise

git+ssh://git@github.com/KAZTorant/kazza_inventory.git

