asgiref
certifi
charset-normalizer
coreapi
coreschema
Django>=4.2,<5
django-cors-headers
django-jazzmin
django-jazzmin-admin-rangefilter
django-logentry-admin
django-rest-swagger
django-simple-history
djangorestframework
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe
openapi-codec
packaging
pyfiglet
pyinstaller
pylint-django
psycopg2-binary
python-dotenv
pytz
PyYAML
requests
python-telegram-bot==20.7
ruamel.yaml
ruamel.yaml.clib
setuptools
simplejson
sqlparse
typing_extensions
uritemplate
urllib3
whitenoise
dj-database-url
gunicorn
python-escpos

git+https://github.com/KAZTorant/kazza_inventory.git
