{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block submit_buttons_bottom %}
  {{ block.super }}
  <br/>
  <div>


    {# Only show for open shifts started by this user #}
    {% if original and not original.is_closed and original.started_by_id == user.id %}

        {# Refresh button – recalculates “till_now” and reloads this page #}
      
        <button
          type="submit"
          name="_refresh"
          class="btn btn-info form-control mt-2"
        >
          {% trans "Yenilə" %}
        </button>


    {% endif %}

    <button
      type="submit"
      name="_print_shift_summary"
      class="btn btn-secondary form-control mt-2"
    >
      {% trans "Növbə yekunu çap et" %}
    </button>


    <button
      type="submit"
      name="_print_z_receipt"
      class="btn btn-success form-control mt-2"
    >
      {% trans "Z‑Hesabat Çap Et" %}
    </button>

  </div>
{% endblock %}
