{% extends "admin/change_list.html" %}
{% load i18n static %}


{% block extrahead %}
    {{ block.super }}
    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Smaller width */
            text-align: center; /* Center text */
            position: relative; /* To position the close button at bottom right */
        }

        /* The Close Button at top right */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* Centering the table */
        .modal-body table {
            margin: 0 auto; /* Center table */
            width: 100%;
            border-collapse: collapse;
        }

        .modal-body th, .modal-body td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .modal-body th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #f2f2f2;
        }

        /* The Close Button at bottom right */
        .modal-footer .close-btn {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    </style>
    <script>
        function fetchTodaysOrders() {
            $.ajax({
                url: "{% url 'admin:orders_statistics_active_orders' %}",
                method: "GET",
                success: function (data) {
                    var tableHTML = `
                        <table>
                            <thead>
                                <tr>
                                    <th>Tip</th>
                                    <th>Miqdar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ödənilmiş</td>
                                    <td>${data.total_paid}</td>
                                </tr>
                                <tr>
                                    <td>Ödənilməmiş</td>
                                    <td>${data.total_unpaid}</td>
                                </tr>
                            </tbody>
                        </table>`;
                    document.getElementById('modal-body').innerHTML = tableHTML;
                    document.getElementById('ordersModal').style.display = "block";
                },
                error: function (error) {
                    alert('An error occurred while fetching the data.');
                }
            });
        }

        function closeModal() {
            document.getElementById('ordersModal').style.display = "none";
        }

        window.onclick = function(event) {
            var modal = document.getElementById('ordersModal');
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            var toggleButton = document.getElementById('toggleStatisticsLinks');
            var statisticsLinks = document.getElementById('statisticsLinks');

            toggleButton.addEventListener('click', function() {
                if (statisticsLinks.style.display === 'none' || statisticsLinks.style.display === '') {
                    statisticsLinks.style.display = 'block';
                } else {
                    statisticsLinks.style.display = 'none';
                }
            });
        });

        function showStatisticsModal() {
            var modalBody = document.getElementById('modal-body');
            var linksHTML = `
                <button onclick="location.href='{% url 'admin:orders_statistics_calculate_per_waitress' %}'" class="btn btn-primary mt-2">{% trans "Ofisiantların Hesabatı" %}</button>
                <button onclick="location.href='{% url 'admin:orders_statistics_calculate_daily' %}'" class="btn btn-success mt-2">{% trans "Bu Günün Hesabatı" %}</button>
                <button onclick="location.href='{% url 'admin:orders_statistics_calculate_monthly' %}'" class="btn btn-warning mt-2">{% trans "Bu Ayın Hesabatı" %}</button>
                <button onclick="location.href='{% url 'admin:orders_statistics_calculate_yearly' %}'" class="btn btn-primary mt-2">{% trans "Bu İlin Hesabatı" %}</button>`;
            modalBody.innerHTML = linksHTML;
            document.getElementById('ordersModal').style.display = "block";
        }
    </script>
{% endblock %}

{% block object-tools-items %}
    <button type="button" class="btn btn-primary" onclick="fetchTodaysOrders()">{% trans "Aktiv sifarişlər" %}</button>
    <button type="button" class="btn btn-primary ml-2" onclick="location.href='{% url 'admin:orders_statistics_calculate_till_now' %}'">{% trans "Hesabatı hazırla" %}</button>

    <button class="btn btn-secondary ml-2 mr-2" type="button" onclick="showStatisticsModal()">
        {% trans "Digər hesabatlar" %}
    </button>

    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}

    <!-- The Modal -->
    <div id="ordersModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div id="modal-body">
                <!-- Statistics links will be injected here by JavaScript -->
            </div>
            <br>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning close-btn" onclick="closeModal()">Bağla</button>
            </div>
        </div>
    </div>
{% endblock %}
